;
; Asterisk configuration file
;
; Module Loader configuration file
;

[modules]
autoload=yes

preload => res_odbc.so
preload => res_config_odbc.so
;preload => res_speech.so
;

require = chan_sip.so

; If you want you can combine with preload
; preload-require = res_odbc.so
;
; If you want, load the GTK console right away.
;
noload => pbx_gtkconsole.so
;load => pbx_gtkconsole.so
;
load => res_musiconhold.so
;
; Load one of: chan_oss, alsa, or console (portaudio).
; By default, load chan_oss only (automatically).
;
noload => chan_alsa.so
;noload => chan_oss.so
noload => chan_console.so
;
